[submodule "frontend"]
	path = frontend
	url = https://github.com/Radu-Vele/Bike_Sharing_Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Radu-Vele/Bike_Sharing_Backend.git
