[submodule "frontend"]
	path = frontend
	url = https://github.com/KissBorbala/SE_project_frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/KissBorbala/SE_project_backend.git
